<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>兔叽网络</title>
    <link rel="shortcut icon" href="/static/images/ico.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/index.css"/>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
</head>
<body>
<div id='div_bg'></div>
<div id="div_main" onselectstart="return false;">
    <div id='div_text' class="class_text">这里什么都没有，但是你可以点这只兔子，也许会出现什么奇怪的东西<br/><br/>
        <span id="span_clicCountText">这只兔子已经被点了<span id="span_clickCount"> 0 </span>次</span>
    </div>
    <div id='div_rabbit'></div>
</div>
</body>
</html>