<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>兔叽网络</title>
    <link rel="shortcut icon" href="/static/images/ico.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/common.css"/>
    <link rel="stylesheet" href="/static/css/menu.css"/>
    <link rel="stylesheet" href="/static/css/index.css"/>
    <link rel="stylesheet" href="/static/css/audio_bgm.css"/>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/menu.js"></script>
    <script type="text/javascript" src="/static/js/audio_bgm.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
</head>
<body>
<div id="div_bg"></div>
<audio controls="controls" id="audio_bgm">
    <source src="" type="audio/mpeg">
    这里是音乐播放控件，但你的浏览器好像不支持的样子
</audio>

<div id="div_main">
    <div class="div_content">网站建设中</div>
</div>
</body>
</html>